.header {
    width: 100%;
    height: 100%;
}

.header__logoname {
    width: auto;
    height: auto;
}

.header__container {
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.header__name {
    padding-top: 40%;
    font-size: 600%;
    color: white;
}

.header__text {
    color: white;
    font-size: 150%;
}

.header__logo {
    filter: brightness(40%);
    position: absolute;
    width: 99%;
    height: 99%;
}

.about {
    width: auto;
    height: auto;
}

.container {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.about__logo {
    font-size: 300%;
}

.about__text1{
    color: black;
    font-size: 150%;
}

.about__text {
    color: black;
    font-size: 150%;
    padding-bottom: 10%;
}

@keyframes anim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);

        background-color: rgba(134, 31, 160, 0.945);
    }

    100% {
        transform: scale(1);
    }
}

.about__button {
    border-radius: 50px;
    background-color: rgb(98, 98, 207);
    width: 250px;
    height: 50px;
}

.about__button:hover {
    animation: anim 2s infinite linear;
}

.artilec__grid {
    display: grid;
}

.artilec__flex {
    display: flex;
    margin-top: 5%;
}

.image {
    text-align: center;
    width: auto;
    height: auto;
}

.image__big {
    width: 80%;
    height: 70%;
}

.artilec__name {
    font-size: x-large;
    text-align: left;
    padding-left: 5%;
}

.artilec__text {
    font-size: large;
    text-align: left;
    padding-left: 5%;
}

.artilec__name1 {
    font-size: xx-large;
}

.artilec__text1 {
    font-size: large;
}

.artilec {
    width: 100%;
    height: 70%;
}

.end__text {
    font-size: 300%;
}

.text {
    font-size: x-large;
    color: rgb(161, 163, 163);
}

.end {
    width: auto;
    height: auto;
}

.image__button {
    margin: auto;
    border-radius: 100%;
    background-color: rgb(224, 223, 223);
    width: 50px;
    height: 50px;
}

.image_flex {
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}